/* Główny arkusz styli dla MY_ERP */

/* Część styli przypisanych dla pliku LOGIN.PHP */
div.login.main_page {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: black;
    width: 600px;
}

/* -------------------------------------------- */